name: Deploy to Cloud Run

# Optimized build using rust:slim base image
on:
  push:
    branches:
      - main  # or your default branch

env:
  PROJECT_ID: wide-bivouac-453212-v8
  REGION: us-west1
  REPOSITORY: sindbad-portfolio-docker
  SERVICE_NAME: portfolio-api
  SERVICE_ACCOUNT: sindbad-portfolio-bucket-read@wide-bivouac-453212-v8.iam.gserviceaccount.com
  DB_USER: magicjedi90
  CLOUD_SQL_INSTANCE: wide-bivouac-453212-v8:us-west1:portfolio-id

jobs:
  deploy:
    name: Deploy to Cloud Run
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/14010903385/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider
          service_account: github-portfolio-deployer@wide-bivouac-453212-v8.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure docker for Artifact Registry
        run: |
          gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      - name: Build and Push Docker image
        run: |
          docker build -t ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/portfolio-api:${{ github.sha }} .
          docker push ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/portfolio-api:${{ github.sha }}

      - name: Deploy to Cloud Run
        id: deploy
        run: |
          SERVICE_URL=$(gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPOSITORY }}/portfolio-api:${{ github.sha }} \
            --region ${{ env.REGION }} \
            --platform managed \
            --allow-unauthenticated \
            --service-account ${{ env.SERVICE_ACCOUNT }} \
            --min-instances 1 \
            --max-instances 10 \
            --timeout 300s \
            --vpc-connector portfolio-api-connector \
            --set-env-vars DATABASE_URL="postgres://${{ env.DB_USER }}:${{ secrets.DB_PASSWORD }}@34.168.85.183:5432/postgres?cloudSqlInstance=${{ env.CLOUD_SQL_INSTANCE }}",RUST_LOG=info,BUCKET_NAME=sindbad_portfolio \
            --format="value(status.url)")
          echo "url=${SERVICE_URL}" >> $GITHUB_OUTPUT

      - name: Show Output URL
        run: echo "Service URL ${{ steps.deploy.outputs.url }}" 